<h1>Editing Assessment Item Event</h1>

<%= render 'form', assessment_item_event: @assessment_item_event %>

<%= link_to 'Show', @assessment_item_event %> |
<%= link_to 'Back', assessment_item_events_path %>
